    <div class="row row__text-area" >
        <div #textBoundary class="text-boundary">
            <ng-container *ngIf="(selectedTextBlockId$ | async) as selectedId">
                <div *ngFor="let tb of (textBlocks$ | async)"
                    (click)="setSelectedTextBlock(tb.id)"
                    (cdkDragEnded)="setTextBlockPosition(tb.id,tb.position,$event)"
                    [ngClass]="selectedId === tb.id ? 'selected' : ''"
                    [cdkDragFreeDragPosition]="tb.position"
                    [attr.id]="tb.id"
                    cdkDrag
                    cdkDragBoundary=".text-boundary" 
                    #textBlock
                    class="text-box" >
                    {{tb.text}}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="row row__text-options">
        <ng-container *ngIf="(selectedTextBlockId$ | async) as selectedId">
            <div class="input-block input-block__alignment">
                <div class="input-block input-block__column">
                    <button mat-raised-button matInput (click)="alignText(selectedId, Alignment.HorizontalLeft)">
                        <mat-icon >align_horizontal_left</mat-icon>
                    </button>
                    <button mat-raised-button (click)="alignText(selectedId, Alignment.VerticalTop)">
                        <mat-icon >align_vertical_top</mat-icon>
                    </button>
                </div>
                <div class="input-block input-block__column">
                    <button mat-raised-button (click)="alignText(selectedId, Alignment.HorizontalCenter)">
                        <mat-icon >align_horizontal_center</mat-icon>
                    </button>
                    <button mat-raised-button (click)="alignText(selectedId, Alignment.VerticalCenter)">
                        <mat-icon >align_vertical_center</mat-icon>
                    </button>
                </div>
                <div class="input-block input-block__column">
                    <button mat-raised-button (click)="alignText(selectedId, Alignment.HorizontalRight)">
                        <mat-icon >align_horizontal_right</mat-icon>
                    </button>
                    <button mat-raised-button (click)="alignText(selectedId, Alignment.VerticalBottom)">
                        <mat-icon >align_vertical_bottom</mat-icon>
                    </button>
                </div>
            </div>
            <div class="input-block">
                <div class="input-block input-block__column">
                    <button mat-raised-button (click)="createTextBlock()">
                        <mat-icon >add_box</mat-icon>
                    </button>
                </div>
                <div class="input-block input-block__column">
                    <button mat-raised-button (click)="deleteTextBlock(selectedId)">
                        <mat-icon >indeterminate_check_box</mat-icon>
                    </button>
                </div>
            </div>
<!--          
            <button (click)="createTextBlock()">Create Text Block</button>
            <button (click)="deleteTextBlock(selectedId)">Delete Text Block</button>
            <button (click)="alignText(selectedId)">Text Align</button> -->
        </ng-container>
    </div>

