
::ng-deep .mat-tooltip {
    // position: absolute;
    font-size: 1.5rem;

    padding: 0.5rem 1rem;

}

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.row{
    background-color: darkgrey;
    &__text-area{
        flex: 4;
        width: 100%;
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__text-options{
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
    }
}

.input-block{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    & > button{
        margin: .25rem 0.5rem;
        background-color: white;
        color: black;
    }

    &__text{
        width: 30%;
    }

    &__alignment{
    }
 
    &__column{
        flex: 1;
        flex-direction: column;
    }
}


.text-input{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
}

.rotate-icon{
    transform: rotate(90deg);
}


// Drag Boundary & Items
.text-boundary {
    position: relative;
    width: 97.5%;
    height: 95%;
    outline: 2px dashed black;
    max-width: 100%;
    outline: dotted black 2px;
}

.text-box {
    // font-size: 4rem;
    // height: 4rem;
    width: auto;
    background-color: rgba(white,0.5);
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
}

.selected{
    outline: 3px solid black;
}