<div class="container">
    <div class="container container__map-zone">
        <div class="map">
            <div (click)="configureMapLocation()" class="map map__display"> 
                    <!-- <agm-map 
                        [latitude]="lat" 
                        [longitude]="lng" 
                        [zoom]="zoom"
                        [styles]="{}"
                        [mapDraggable]="false"
                        [disableDefaultUI]="true" 
                        [mapTypeId]="'terrain'"
                        #map> -->
                    <!-- <agm-marker *ngFor="let m of markers;"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [markerDraggable]="true"
                        (dragEnd)="markerDragEnd(m, $event)">
                    </agm-marker> -->
            <!-- </agm-map> -->
    </div>
            <div (click)="configureMapText()" class="map map__background" #textBoundary>
                <ng-container *ngIf="(textBlockStyles$ | async) as tbStyles">
                    <div *ngFor="let tb of (textBlocks$ | async)"
                         [attr.id]="tb.id"
                         [ngStyle]="tbStyles[tb.id]"
                         class="text-block"
                         #textBlock>
                        {{tb.text}}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    
    <div class="container container__map-options">
        <div class="options-row">
            <ng-container *ngFor="let ar of aspectRatios">
                <button (click)="setAspectRatio(ar)" mat-raised-button >{{ar}}</button>
            </ng-container>
        </div>
        <div class="options-row">
            <button (click)="setOrientation(Orientation.Portrait)"
                    mat-raised-button 
                    matTooltip="portrait mode"
                    [matTooltipPosition]="'below'" >
                <mat-icon>crop_portrait</mat-icon>
            </button>
            <button (click)="setOrientation(Orientation.Landscape)"
                    mat-raised-button 
                    matTooltip="landscape mode"
                    [matTooltipPosition]="'below'">
                <mat-icon>crop_landscape</mat-icon>
            </button>
            <button mat-raised-button 
                    matTooltip="increase border size"
                    [matTooltipPosition]="'below'" >
                <mat-icon>add_box</mat-icon>
            </button>
            <button mat-raised-button 
                    matTooltip="decrease border size"
                    [matTooltipPosition]="'below'" >
                <mat-icon>indeterminate_check_box</mat-icon>
            </button>
            <button (click)="updateBackgroundSizeRatio(true)"
                    mat-raised-button 
                    matTooltip="increase background size ratio"
                    [matTooltipPosition]="'below'" >
                <mat-icon>add_box</mat-icon>
            </button>
            <button (click)="updateBackgroundSizeRatio(false)"
                    mat-raised-button 
                    matTooltip="decrease background size ratio"
                    [matTooltipPosition]="'below'" >
                <mat-icon>indeterminate_check_box</mat-icon>
            </button>
        </div>
    </div>
</div>

