
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;

    &__inputs{
        flex: 1;
        background-color: orangered;
    }

    &__palettes{
        flex: 4;
        background-color: lightgreen;
    }

}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  