/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dialog-content{
    width: 90%;
    background-color: white;  
    color: black; 
    display: flex;
    justify-content: space-between;
    // padding:1rem;
}

